@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

$searchColor: rgba(212, 212, 212, 1); 
$searchBorderPx: 10px;
$searchSize: 26px;
$p-c-1: #ffc89d;
$p-c-2: rgba(248, 160, 93, 0.562);
$font-family-1: 'Poppins', sans-serif;
$font-family-2: 'Tiro Telugu', serif;
$boxShadowRgba-05: 0.5;
$boxShadowRgba-04: 0.4;
$boxShadowRgba-03: 0.3;
$boxShadowRgba-02: 0.2;
$transitionFocus-05: all 0.5s;
$transitionFocus-03: all 0.3s;
$transitionFocus-02: all 0.2s;