@import "./mixin";
@import "./vars";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: $font-family-1;
}

.flex {
    display: flex;
    gap: 10px;
}

@keyframes animeBottom {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes animeTop {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0px);
    }
}

.animeBottom {
    animation: animeBottom 0.15s linear ;
}

.animeTop {
    animation: animeTop 0.15s linear ;
}