@import "../../sass/index.scss";

.quantityInterage {
    transition: all 0.5s;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    p {
        @include fontCustomize($fontWeigth-500, 20px, $s-c-7);
        width: 20px;
        text-align: center;
    }
    img {
        cursor: pointer;
    }
}