@import "../../sass/index.scss";

.select {
    select {

        padding: 8px 10px;
        width: 100px;
        @include fontCustomize(500, 16px, $s-c-11);
        scrollbar-width: thin;          /* "auto" or "thin" */
        scrollbar-color: blue orange;
        border-radius: 10px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        &:focus {
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
        }
        option {
            background-color: $s-c-6;
            @include fontCustomize(500, 16px, $s-c-11);
        }
    }
}